version: '2'

services:
  timelock:
    image: palantirtechnologies/timelock-server-distribution
    ports:
      - "8421"
      - "8422"

  oracle:
    image: hub.docker.palantir.build/palantirtechnologies/oracle-atlasdb:19.9.0.0-se
    environment:
      SQLPLUS_INIT_00: startup nomount
      SQLPLUS_INIT_01: alter system set processes=1000 scope=spfile
      SQLPLUS_INIT_02: alter system set open_cursors=1000 scope=spfile
      SQLPLUS_INIT_03: alter system set sessions=1000 scope=spfile
      SQLPLUS_INIT_04: alter system set max_shared_servers=4000 scope=spfile
      SQLPLUS_INIT_05: alter system set sga_max_size=1000M scope=spfile
      SQLPLUS_INIT_06: alter system set sga_target=1000M scope=spfile
      SQLPLUS_INIT_07: alter system set pga_aggregate_target=160M scope=spfile
      SQLPLUS_INIT_08: shutdown immediate
      SQLPLUS_INIT_09: startup
    ports:
      - "2080"
      - "1521"

  ete1:
    build: .
    command: [bash, -c, 'cp var/conf/atlasdb-ete.timelock.oracle.yml var/conf/atlasdb-ete.yml && dockerize -timeout 120s -wait tcp://oracle:1521 && service/bin/init.sh console']
    ports:
      - "3828"
    depends_on:
      - oracle
      - timelock
    environment:
      - ME=ete1

  ete-cli:
    build: .
    entrypoint: [bash, -c, 'cp var/conf/atlasdb-ete.timelock.oracle.yml var/conf/atlasdb-ete.yml && "$$@"', --]
    command: exit
    depends_on:
      - ete1
    environment:
      - ME=ete1
