test_ecbuild
ecbuild
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.log
*.prefs
*.class
*.profile
*.iml
*.ipr
*.iws
fix-ivy.py
.classpath
.ecbuild
.settings/
.project
build/
.gradle
bin/
userdict.txt
generated_src/
generated_testSrc/
.factorypath
out/
atlasdb-cli/var/data/

# Emacs temp files
*~