test_ecbuild
ecbuild
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.log
*.class
*.profile
*.iml
*.ipr
*.iws
fix-ivy.py
.idea
.checkstyle
.classpath
.ecbuild
.settings/
.project
build/
docs/build/
.gradle
bin/
userdict.txt
.apt_generated/
generated_src/
generated_testSrc/
.factorypath
out/
atlasdb-cli/var/data/
atlasdb-dbkvs-tests/src/test/java/com/palantir/atlasdb/keyvalue/dbkvs/DbkvsOracle*

# Emacs temp files
*~

# Rocksdb data
var/data/rocksdb

# Memory tracker nohup
nohup.out
nohup.err
