test_ecbuild
ecbuild
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.log
*.class
*.profile
*.iml
*.ipr
*.iws
*.pyc
fix-ivy.py
.idea
.checkstyle
.classpath
.ecbuild
.settings/
.project
build/
docs/build/
.gradle
bin/
userdict.txt
.apt_generated/
generated/
generated_src/
generated_testSrc/
.factorypath
out/
atlasdb-cli/var/data/
*.hprof
var/

# Common text-editor temp files
# emacs
*~
# opendiff et al
*.orig

# Memory tracker nohup
nohup.out
nohup.err

# Benchmark hosts
scripts/benchmarks/servers.txt
