jepsen:
  image: tjake/jepsen:latest
  volumes:
    - ./:/jepsen/atlasdb
    - /var/run/docker.sock:/var/run/docker.sock
  command: "bash -lc 'cd /jepsen/atlasdb/var && ./zulu-install.sh && cd /jepsen/atlasdb && lein test'"
