server:
  #rootPath: /api/*
  #applicationContextPath: /
  #adminContextPath: /
  applicationConnectors:
    - type: http
      port: 3828
  adminConnectors:
    - type: http
      port: 3829

atlasdb:
  targetedSweep:
    enableSweepQueueWrites: false
  keyValueService:
    type: cassandra
    ssl: false

  initializeAsync: true
  namespace: atlasete

  leader:
    quorumSize: 1
    learnerLogDir: var/data/paxosLog/learner1
    acceptorLogDir: var/data/paxosLog/acceptor1
    localServer: http://${ME}:3828
    leaders:
      - http://ete1:3828
    sslConfiguration:
      keyStorePath: "var/security/keyStore.jks"
      keyStorePassword: "keystore"
      trustStorePath: "var/security/trustStore.jks"

atlasDbRuntime:
  keyValueService:
    type: cassandra
    servers:
      type: cqlCapable
      hosts:
        - cassandra1
        - cassandra2
        - cassandra3
      cqlPort: 9042
      thriftPort: 9160
    replicationFactor: 3
