server:
  #rootPath: /api/*
  #applicationContextPath: /
  #adminContextPath: /
  applicationConnectors:
    - type: http
      port: 3828
  adminConnectors:
    - type: http
      port: 3829

atlasdb:
  keyValueService:
    type: relational
    ddl:
      type: postgres
    connection:
      type: postgres
      host: postgres
      port: 5432
      dbName: atlas
      dbLogin: palantir
      dbPassword: palantir
      connectionParameters:
        sslmode: disable

  leader:
    quorumSize: 2
    learnerLogDir: var/data/paxosLog/learner1
    acceptorLogDir: var/data/paxosLog/acceptor1
    localServer: http://${ME}:3828
    leaders:
      - http://ete1:3828
      - http://ete2:3828
      - http://ete3:3828
    sslConfiguration:
      keyStorePath: "var/security/keyStore.jks"
      keyStorePassword: "keystore"
      trustStorePath: "var/security/trustStore.jks"
