server:
  #rootPath: /api/*
  #applicationContextPath: /
  #adminContextPath: /
  applicationConnectors:
    - type: http
      port: 3828
  adminConnectors:
    - type: http
      port: 3829

atlasdb:
  keyValueService:
    type: cassandra
    keyspace: atlasete
    servers:
      type: cqlCapable
      thriftHosts:
        - cassandra:9160
      cqlHosts:
        - cassandra:9042
    poolSize: 20
    credentials:
      username: cassandra
      password: cassandra
    ssl: false
    replicationFactor: 1
    mutationBatchCount: 10000
    mutationBatchSizeBytes: 10000000
    fetchBatchCount: 1000
    autoRefreshNodes: false
  targetedSweep:
    enableSweepQueueWrites: true
  namespace: atlasete

atlasDbRuntime:
  internalSchema:
    targetTransactionsSchemaVersion: 3
  sweep:
    enabled: false
  targetedSweep:
    enabled: true
    shards: 1
  timelockRuntime:
    serversList:
      servers:
        - 'http://timelock:8421'
      sslConfiguration:
        keyStorePath: "var/security/keyStore.jks"
        keyStorePassword: "keystore"
        trustStorePath: "var/security/trustStore.jks"
