server:
  #rootPath: /api/*
  #applicationContextPath: /
  #adminContextPath: /
  applicationConnectors:
    - type: http
      port: 3828
  adminConnectors:
    - type: http
      port: 3829

atlasdb:
  keyValueService:
    type: relational
    ddl:
      type: postgres
    connection:
      type: postgres
      host: postgres
      port: 5432
      dbName: atlasete
      dbLogin: palantir
      dbPassword: palantir
      connectionParameters:
        sslmode: disable

  namespace: atlasete

atlasDbRuntime:
  timelockRuntime:
    serversList:
      servers:
        - 'http://timelock:8421'
      sslConfiguration:
        keyStorePath: "var/security/keyStore.jks"
        keyStorePassword: "keystore"
        trustStorePath: "var/security/trustStore.jks"
