server:
  #rootPath: /api/*
  #applicationContextPath: /
  #adminContextPath: /
  applicationConnectors:
    - type: http
      port: 3828
  adminConnectors:
    - type: http
      port: 3829

atlasdb:
  keyValueService:
    type: cassandra
    servers:
      - cassandra:9160
    poolSize: 20
    credentials:
      username: cassandra
      password: cassandra
    ssl: false
    replicationFactor: 1
    mutationBatchCount: 10000
    mutationBatchSizeBytes: 10000000
    fetchBatchCount: 1000
    autoRefreshNodes: false
  targetedSweep:
    enableSweepQueueWrites: true
  namespace: atlasete

atlasDbRuntime:
  internalSchema:
    targetTransactionsSchemaVersion: 3
  sweep:
    enabled: false
  targetedSweep:
    enabled: true
    shards: 1 # required for CassandraTimestampsEteTest
